@font-face {
    font-family: MyFont;
    src: url(Branda-yolq.ttf) format('truetype');
}

body {
    margin: 0;
}

#container {
    display: flex;
}

#logoImage {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 15vh;
}

img {
    display: flex;
    width: 100%;
}

#photoLogoImage {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

#image-text {
    color: white;
    font-size: 10vh;
    font-family: MyFont, sans-serif;
}

#imgLogo {
    height: 20vh;
    width: auto;
}

#logoImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
}

#form {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-top {
    flex: 2;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-weight: 800;
    font-size: 2.5vh;
}

#form-bottom {
    flex: 1;
    background-color: rgb(226, 224, 224);
}

#top-form-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 30vh;
}

#last {
    margin-top: 8vh;
}